<!-- Appointment Section -->
<section id="appointment" class="appointment section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>List Appointment</h2>
    <p>Berikut list antrian</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nama</th>
          <th scope="col">Umur</th>
          <th scope="col">Poli</th>
          <th scope="col">Status</th>
          <th scope="col">Tanggal</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointments of appointments">
          <td>{{ appointments.nama }}</td>
          <td>{{ appointments.umur }}</td>
          <td>{{ appointments.poli }}</td>
          <td>
            <p class="cta-btn d-none d-sm-block"
              [ngClass]="{'text-success': appointments.status === 'Selesai', 'text-warning': appointments.status === 'Request', 'text-danger': appointments.status === 'Cancelled'}">
              <strong>{{ appointments.status }}</strong>
            </p>
          </td>
          <td>{{ appointments.tanggal }}</td>
          <td>
            <button (click)="markAsComplete(appointments._id)" class="btn btn-outline-info m-2">Selesai</button>
            <button *ngIf="appointments.status === 'Selesai'" (click)="deleteItem(appointments._id)"
              class="btn btn-outline-danger m-2">Hapus</button>
          </td>
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>

</section><!-- /Appointment Section -->
